/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

.logo{
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    padding: 10px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-right: 2em;
    font-size: 120%;
    font-family: Helvetica, sans-serif;
}
nav ul li a{
    color: black;
    text-decoration: none;
}

.main-screen{
    background-image: url("../images/landing.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10% 25% 20% 25%;
}
.main-screen h1{
    color: #FFF;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.main-screen h2{
    color: #FFF;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.whats-spotify h2{
    text-align: center;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3% 36% 5% 36%;
    border-bottom: 3px solid #00B172;
}

.icons{
    display: flex;
    justify-content: space-around;
    align-items:baseline;
}
.icons article{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0% 6%;
}
.icons article h3{
    font-size: 2.1vw;
    color: #00B172;
}
.icons article h4{
    font-weight: 100;
    font-size: 1.7vw;
}
.icons article div img{
    width: 130px;
}

.final{
    display: flex;
    flex-direction: row;
    background-color: #00B172;
    background-image: url("../images/spotify-icon-white.png");
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.descripcion {
    display: flex;
    flex-direction: column;
}
.descripcion .titleText{
    color: #FFF;
    font-size: 3vw;
    font-family: Helvetica, sans-serif;
    font-weight:300;
    margin: 9%;
}
.descripcion span {
    border-bottom: 3px solid white;
}
.descripcion .text{
    color: #FFF;
    margin-left: 9%;
    margin-right: 41%;
}
.descripcion h2{
    font-size: 2.2vw;
    font-family: Helvetica, sans-serif;
}
.descripcion h4{
    font-size: 1.5vw;
    font-weight: 100;
    line-height: 2vw;
    font-family: 'Courier New', Courier, monospace;
}
.appfoto div img{ 
    width: 60%;
    height: auto;
    margin: 20%;
}
.appfoto{
    align-self: center;
}